* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-heading: 'Epilogue', sans-serif; /* ff significa font-family */

  --hue: 250;
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%);
  --bg-primary: hsl(var(--hue), 22%, 20%);

  font-size: 62.5%; /* to set the font-size at 10pixels, so its easier to use rem. */
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
  --fs-heading-sm: clamp(2rem, 1rem + 2vw, 3rem);
}

body {
  font-family: var(--ff-heading);
  font-size: var(--fs-body);

  color: var(--fc-primary);

  background-color: var(--bg-primary);
}

.page {
  max-width: clamp(33rem, 75rem + 90vh, 117rem);
  padding: 0 3rem 3rem;
  margin: 0 auto;
}




img {
  width: 100%;
  height: auto;
  
  border-radius: 6px;
}

header {
  font-family: var(--ff-heading);
  
  margin: 10rem 0 8rem;
  
  text-align: center;
  
  animation: topdown 700ms;
}


header p {
  font-weight: 400;
  color: var(--fc-secondary);
  text-transform: uppercase;
  line-height: 3.2rem;
  
  letter-spacing: 3px;
  
  margin-bottom: 1.7rem;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
}

main {
  display: grid;
  gap: 3.2rem;
  animation: bottomup 700ms 250ms backwards;
}

.card {
  position: relative; /* colocamos esse position
  para poder usar o position: absolute no h2/span. Dessa forma, o position absolute
  dos outros elementos é em relaçao a essa caixa pai */
  font-family: var(--ff-heading);
}

.card img {
  height: 40rem;
  object-fit: cover;
  
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease;

  filter: brightness(0.8) saturate(1.2);
}

.card img:hover {
  transform: scale(1.1);
  filter: brightness(1) saturate(1.0);
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  
  font-size: var(--fs-heading-sm);
  font-weight: 800;
  
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  color: var(--fc-secondary-dark);
  font-weight: 400;
  
  padding: 0 1.6rem;
  height: 3.8rem;
  width: fit-content; /* esse comando é importante para alinhar todo a caixa branca
  do span dentro do h2, sem atrapalhar o texto do h2 */
  
  display: inline-flex; /* esse comando é para o span poder aceitar o height
  texto que foi adicionado e outras propriedades */
  align-items: center;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottomup {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  
  main {
    grid-template-columns: 1fr 1fr;
  }
  
}
  
@media (min-width: 930px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "colA colB colB"
      "colC colC colD";
    }
  
    main div:nth-child(1) {
      grid-area: colA;
    }
  
    main div:nth-child(2) {
      grid-area: colB;
    }
  
    main div:nth-child(3) {
      grid-area: colC;
    }
    main div:nth-child(4) {
      grid-area: colD;
    }
}

